html,
body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#viewDiv {
    margin-top: 50px;
    padding: 0;
    height: 100%;
    width: 100%;
}

.rightpane {
    position: absolute !important;
    top: 50px;
    z-index:1;
    right:0;
    margin:0;
    height:calc(100% - 50px);
    background-color: rgba(202,235,242,0.9);
    padding:0 10px 0 10px !important;
}

.bottom-tab{
    position: absolute;
    bottom:0;
}

.what-toggle.on {
    /*background-color: darkred;*/
}

.what-toggle.off {
    /*background-color: inherit;*/
}

.plan-item-container {
    height: 100px;
}

.collapse-icon {
    padding-left: 20px;
}

.toggle-btn{
    width:100%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 2px;
    border-color: black;
}

.what-toggle img {
    height: 40px;
}

.what-toggle {
    width: 70px;
    float: left;
    margin: 6px;
    text-align: center;
    font-size: 11px;
}

.what-toggle p {
    visibility: hidden;
    opacity:0;
    transition:opacity 0.5s linear;

}

.what-toggle:hover p {
    visibility: visible;
    opacity:1;
    /*transition:opacity 0.5s linear;*/
}

.plan-item-image{

    /*border-radius: 50%;*/

}

.plan-item-image img {
    height: 60px;
    border-radius: 30%;
    border:2px solid black;
}

.plan-item-image i {
    font-size: 30px;
    margin-top:10px;
    margin-left: 20px;
}

.plan-item-container {
    /*border-bottom:1px solid black;*/
    margin-top: 15px;
}

.line-separator {
    height: 1px;
    background-color: black;
    width: 70%;
    margin-left: 30%;
}

.plan-item-add i {
    font-size: 45px;
    margin-left:9px;
}


